* {
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#main {
    padding-top: 11%;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

  h2 > i {
    color: rgba(253,45,236,0.7);
}

.great {
    font-size: 5rem;
    margin: 0 auto;
    font-family: 'Libre Barcode 39 Extended Text', 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(322deg, rgba(34,193,195,1) 0%, rgba(253,45,236,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .collapse {
    padding-right: 35px;
} */

.row.link {
    margin-top: 3rem;
}

.col.link-2 {
    min-height: 125px;
    padding-right: 3.33rem;
}

ul > li {
    list-style: none;
}

ul > li > a  {
    font-size: 2rem;
    list-style: none;
    color: rgba(253,45,236,0.5);
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, cursive;
}

li > a:hover {
    list-style: none;
    color: rgba(253,45,236,1);
}

/* Dark/Light Mode code */
.dark {
    background-color: #000;
}

#toggleMode {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    color: rgb(223, 223, 223);
}

#randomColor{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    color: rgb(223, 223, 223);
}


/* For mobile phones */
@media only screen and (max-width: 767px) {
    
    .great {
        font-size: 3rem;
        font-family: 'Libre Barcode 39 Extended Text', "Roboto", Arial, Helvetica, sans-serif;
    }


@media screen and (prefers-color-scheme: light) {
    body {
      background-color: rgb(255, 255, 255);
    }
    .btn-outline{
        color: rgb(255,255,255);
    }
  }

  @media screen and (prefers-color-scheme: dark) {
    body {
      background-color: #383838;
    }
    .btn-outline {
        color: #383838;
    }
  }
}