* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
}
/* Dark/Light Mode code */
.dark {
    background-color: #000;
}

#main {
    padding-top: 10%;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }

#toggleMode {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    color: rgb(223, 223, 223);
}

#randomColor{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: px;
    color: rgb(223, 223, 223);
}

h1, h2 > i {
    color: rgba(253,45,236,0.7);
}
#link-div {
    min-height: 125px;
}

.great {
    font-size: 6rem;
    font-family: 'Libre Barcode 39 Extended Text', 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(322deg, rgba(34,193,195,1) 0%, rgba(253,45,236,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.row.link {
    padding-top: 5px;
    text-align: right;
}

ul > li {
    list-style: none;
}

li > a  {
    font-size: 2rem;
    list-style: none;
    color: rgba(253,45,236,0.5);
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, cursive;
}

li > a:hover {
    list-style: none;
    color: rgba(253,45,236,1);
}


@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    .brand {
        text-align: center;
    }
    .row.link {
        text-align: center;
    }
    h1 {
        font-family: 'Lobster', 'Beth Ellen', 'Pacifico', 'Roboto', cursive;
    }
    .great {
        font-size: 3rem;
        font-style: normal;
        font-family: 'Libre Barcode 39 Extended Text', sans-serif;
    }

}
@media screen and (prefers-color-scheme: light) {
    body {
      background-color: rgb(255, 255, 255);
    }
    .btn-outline{
        color: rgb(255,255,255);
    }
  }

  @media screen and (prefers-color-scheme: dark) {
    body {
      background-color: #383838;
    }
    .btn-outline {
        color: #383838;
    }
  }
